.board{

	margin: 0 auto;
	border-color: grey;

	border-width: 5px;
	width: 100%;
	height: 100%;
	position: absolute;
	font-size: 0;
}

.boardContainer{
	position: relative;
	text-align: center;
	width: 100%;
	padding-bottom: 100%;
	float: left;
	height: 0;
	margin-bottom: 50px;


}

.boardContainerContainer{
	max-width: 700px; 	

}

.col{

	padding: 0;
	margin: 0;
}

.row{

	padding: 0;
	margin: 0;
	width: 100%;
	height: calc(100% / 8);
	display: inline-flex;
}

.square{

	width: calc(100% / 8);
	height: 100%;
	background-color: black;
	color: green;
	font-weight: bold;
	font-size: 10pt;
	position: relative;
}

.black{
	background-color: black;
}

.white{
	background-color: #bb1c1c;
}

.turnIndicatorRed{
	font-weight: bold;
	background-color: #bb1c1c;

	color: black;

	border-color: black;
	border-style: solid;
	border-bottom-width: 5px;
	border-top: 0px;
	border-right-width: 0px;
	border-left-width: 0px;

}

.turnIndicatorBlack{

	color: #bb1c1c;

	font-weight: bold;
	background-color: black;

	border-color: black;
	border-style: solid;
	border-bottom-width: 5px;
	border-top: 0px;
	border-right-width: 0px;
	border-left-width: 0px;

}

